.table{
    background-color: white;
    margin: auto;
}
table, tr, td, th{
    border: 1px solid rgb(187, 187, 187);
    border-collapse: collapse;
}
th{
    padding: 10px 35px;
}
img{
    width: 100px;
}
td{
    padding-top: 10px;
    vertical-align: top;
}
.delete-btn{
    background-color: rgb(233, 0, 0);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 9px;
    padding: 5px 7px;
}